[submodule "bitacoras/maaartiii"]
	path = bitacoras/maaartiii
	url = https://github.com/maaartiii/bit-cor-de-pensamiento-computacional
[submodule "bitacoras/inakiariztia"]
	path = bitacoras/inakiariztia
	url = https://github.com/inakiariztia/Bitacora-de-pensamientos
[submodule "bitacoras/barrera-martinna"]
	path = bitacoras/barrera-martinna
	url = https://github.com/barrera-martinna/bitacora-pensamientocomputacional
[submodule "bitacoras/agustinbastidas-pro"]
	path = bitacoras/agustinbastidas-pro
	url = https://github.com/agustinbastidas-pro/BitacoraPensamiento-AgustinBastidas
[submodule "bitacoras/fernandobzs"]
	path = bitacoras/fernandobzs
	url = https://github.com/fernandobzs/pensamientoclase
[submodule "bitacoras/berchenko"]
	path = bitacoras/berchenko
	url = https://github.com/berchenko/PensamientoComputacional
[submodule "bitacoras/rafaelacarrasco-pro"]
	path = bitacoras/rafaelacarrasco-pro
	url = https://github.com/rafaelacarrasco-pro/bitacora-pensamiento-computacional
[submodule "bitacoras/rreniss"]
	path = bitacoras/rreniss
	url = https://github.com/rreniss/bitacora-pensamiento-computacional
[submodule "bitacoras/piromantico"]
	path = bitacoras/piromantico
	url = https://github.com/piromantico/bitacora-de-pensamiento-computacional
[submodule "bitacoras/pavloskyyy"]
	path = bitacoras/pavloskyyy
	url = https://github.com/pavloskyyy/clase_pensamiento
[submodule "bitacoras/frrrida"]
	path = bitacoras/frrrida
	url = https://github.com/frrrida/bitacora-de-pensamiento-computacional
[submodule "bitacoras/Matiasssss5"]
	path = bitacoras/Matiasssss5
	url = https://github.com/Matiasssss5/bitacora-pensamiento-computacional
[submodule "bitacoras/Dezcontinuado"]
	path = bitacoras/Dezcontinuado
	url = https://github.com/Dezcontinuado/pensamiento-computacional
[submodule "bitacoras/Almendra-Manzi"]
	path = bitacoras/Almendra-Manzi
	url = https://github.com/Almendra-Manzi/bitacora-de-pensamiento-computacional
[submodule "bitacoras/pansitoaceituna"]
	path = bitacoras/pansitoaceituna
	url = https://github.com/pansitoaceituna/bitacora-de-pensamiento-computacional
[submodule "bitacoras/ellanyx"]
	path = bitacoras/ellanyx
	url = https://github.com/ellanyx/bitacora_pensamiento_computacional
[submodule "bitacoras/spiderm8nkey"]
	path = bitacoras/spiderm8nkey
	url = https://github.com/spiderm8nkey/BITACORA_de_pensamiento_computacional
[submodule "bitacoras/MeymeyG"]
	path = bitacoras/MeymeyG
	url = https://github.com/MeymeyG/Bitacora-PensamientoComputacional
[submodule "bitacoras/Mingowastaken"]
	path = bitacoras/Mingowastaken
	url = https://github.com/Mingowastaken/bitacora-de-pensamiento-computacional
[submodule "bitacoras/LastAngel16"]
	path = bitacoras/LastAngel16
	url = https://github.com/LastAngel16/bitacora-de-pensamiento-computacional
[submodule "bitacoras/moqalatte"]
	path = bitacoras/moqalatte
	url = https://github.com/moqalatte/bitacora_pensamiento_computacional
[submodule "bitacoras/SoyTany"]
	path = bitacoras/SoyTany
	url = https://github.com/SoyTany/BITACORA_PENSAMIENTO_COMPUTACIONAL
[submodule "bitacoras/fdaceituno"]
	path = bitacoras/fdaceituno
	url = https://github.com/fdaceituno/clases_pensamiento_computacional
	ignore = dirty
[submodule "bitacoras/Eiivor07"]
	path = bitacoras/Eiivor07
	url = https://github.com/Eiivor07/bitacora-pensamiento-computacional
[submodule "bitacoras/fullpiketia"]
	path = bitacoras/fullpiketia
	url = https://github.com/fullpiketia/bitacora-pensamiento-computacional-
[submodule "bitacoras/drescuebbas"]
	path = bitacoras/drescuebbas
	url = https://github.com/drescuebbas/bitacora-pensamiento-computacional
[submodule "bitacoras/isimolina16"]
	path = bitacoras/isimolina16
	url = https://github.com/isimolina16/PensamientoComputacional
[submodule "bitacoras/Chrisploo"]
	path = bitacoras/Chrisploo
	url = https://github.com/Chrisploo/Bitacora-Pensamiento-Computacional
[submodule "bitacoras/sofiareyesantivil"]
	path = bitacoras/sofiareyesantivil
	url = https://github.com/sofiareyesantivil/BitacoraPensamientoComputacional
[submodule "bitacoras/zxxnie"]
	path = bitacoras/zxxnie
	url = https://github.com/zxxnie/Bitacora_pensamiento_computacional
[submodule "bitacoras/constanzaseyssel-source"]
	path = bitacoras/constanzaseyssel-source
	url = https://github.com/constanzaseyssel-source/bitacora-computacional
[submodule "bitacoras/icaran"]
	path = bitacoras/icaran
	url = https://github.com/colombaicaran-design/bitacora-pensamiento-computacional
